<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css" />

</head>
<body>
  

    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/">HOME</a></li>
                <li><a href="/signup">SIGNUP</a></li>
            </ul>
        </nav>
    </header>
    
          <div class="welcome">  <h1>Welcome to LEMON Blog</h1>
            <p>Explore a World of Knowledge and Inspiration</p>
        </div>
        <main>
            <h1>What You'll Find Here</h1>
            <ul>
                <li>Educational Content: Dive into in-depth articles and tutorials on programming, technology, and more.</li>
                <li>Exploring New Horizons: Stay up-to-date with the latest trends and innovations in the tech world.</li>
                <li>Guidance and Tips: Find tips and tricks to enhance your skills and make your life easier.</li>
            </ul>
            <h1>Start Your Journey</h1>
            <p>Browse our articles, get inspired, and embark on a journey of learning and discovery. We believe in the power of knowledge and the joy of sharing it. So, let's explore, learn, and grow together.</p>
            <p>Ready to begin? Start your adventure by exploring our latest articles below.</p>
        </main>
        <footer>
            <p>&copy; 2023 Lemon Blog</p>
        </footer>
    
    

</body>
</html>