body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image: url('images/lauren-mancke-aOC7TSLb1o8-unsplash.jpg');
    background-repeat: repeat;
    animation: slide 50s infinite linear;
}


@keyframes slide {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 0;
  }
}

header {
  background-color: #333;
    color: #ffe9ba;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: cursive;

}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #ffe9ba;
  font-weight: bold;
}
.nav-links a:hover {
  color: #6e7072;
}





.realheader {
    background-color:  #393939;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    margin-top: 60px;
}

.update{
  margin-top: 20px;
  text-decoration: none;
}
.firstname {
    font-weight: bold;
}

section {
  background-color: #bcbcbc;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    color: #333;
}

.blog-post {
    margin-top: 10px;
    font-size: 16px;
}

.tags{
  background-color: #e9e7e7;
  color: #2f2f2f;
  border: 1px solid rgb(222, 221, 221);
  margin-left: 20px;
  width:120px;
  border-radius: 7px;
  text-align: center;
  padding: 3px;
}

.welcome h1{
    margin-top: 90px;
    text-align: center;
}

.blog-content {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

a {

    text-decoration: none;
    color:  #cd8e07;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

button.delete-button {
    background-color: #f55555;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
}

button.delete-button:hover {
    background-color: #f33333;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }
}